body {
  margin: 0;
  padding: 0;
  background-image: url("fundo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px;
}

#relogio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

#relogio div {
  width: 120px;
  height: 120px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 120px;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  margin: 0 10px;
}
